#b_image {
    margin-left: 15px;
    width: 350px;
    background-image: url("beer.jpg");
}

.line {
    background :gold;
    position:relative;
    height:8px;
}

/* .line:before {
    content:'';
    background:brown;
    width:100%;
    height:px;
    position:absolute;    
} */