<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LCBO Project</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">



    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin="" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>


    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: 'Oxygen', sans-serif;
        }

        #heading {
            background-image: url(https://images.pexels.com/photos/1862/summer-sunshine-alcohol-drink.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);
            color: whitesmoke;
            image-rendering: crisp-edges;
            background-repeat: no-repeat;
            opacity: 0.7;
        }

        #showLocationsScreen {
            height: 100%;

        }

        #productPage {
            height: 100%;
        }

        #mapid {
            height: 50vh;
        }

        #mapPage {
            height: 100%;
        }
    </style>
</head>

<body>


    <div id="heading" class="jumbotron jumbotron-fluid" style="text-align:center; height:50%;">


        <h1>Find Your Local Beer Store </h1>

        <div class="container">
            <h3>This search uses location data supplied by the Liquor Control Board of Ontario (LCBO) plus user-input postal
                codes to return the nearest LCBO retailer. </h3>
        </div>
    </div>
    <hr>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <img src="http://www.lcbo.com/content/lcbo/en/pages/beer/486-craft-beers-on-the-wall/_jcr_content/hero-content/enhanced_product_her.img.jpg/1515771376964.jpg"
                    class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <img src="http://www.lcbo.com/content/lcbo/en/pages/beer/214-lagers-on-the-wall/_jcr_content/hero-content/enhanced_product_her.img.jpg/1513271593463.jpg"
                    class="img-responsive" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <h4>Enter Your Zip Code</h4>
                <hr>
                <ul>
                    <form method="POST" action="/send" role="form" , name="petform">
                        <div class="col-sm-8 form-group">


                            <label for="inputName">Country Abbrev: </label>
                            <input type="text" id="inputName" name="country" placeholder="Country">
                            <br>

                            <label for="inputName">Zip Code: </label>
                            <input type="text" id="inputName" name="zipcode" placeholder="Location">
                        </div>
                        <input type="submit" value="Submit" class="btn btn-info btn-lg">
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <div class="height" style="height:80px"></div>
    <div id="showLocationsScreen">
        <!-- heigh div -->
        <div class="height" style="height:50px"></div>
        <div class="container text-center">
            <h2>
                <u> Nearest Locations</u>
            </h2>
            <div class="rows">
                <div class="col-md-3" style="border:black solid 2px; margin:40px;">
                    <h1>
                        <u> Location</u>
                    </h1>
                    <p id="nameOne"></p>
                    <p id="storeIDOne"></p>
                    <p id="addressOne"></p>
                    <p id="cityOne"></p>

                    <p>State: Ontario</p>
                    <p>Country: Canada</p>

                    <p id="phoneOne"></p>
                    <p id="distanceOne"></p>
                </div>
                <div class="col-md-3" style="border:black solid 2px; margin:40px;">
                    <h1>
                        <u> Location</u>
                    </h1>
                    <p id="nameTwo"></p>
                    <p id="storeIDTwo"></p>
                    <p id="addressTwo"></p>
                    <p id="cityTwo"></p>
                    <p>State: Ontario</p>
                    <p>Country: Canada</p>
                    <p id="phoneTwo"></p>
                    <p id="distanceTwo"></p>
                </div>
                <div class="col-md-3" style="border:black solid 2px; margin:40px;">
                    <h1>
                        <u> Location</u>
                    </h1>
                    <p id="nameThree"></p>
                    <p id="storeIDThree"></p>
                    <p id="addressThree"></p>
                    <p id="cityThree"></p>
                    <p>State: Ontario</p>
                    <p>Country: Canada</p>
                    <p id="phoneThree"></p>
                    <p id="distanceThree"></p>
                </div>
            </div>
        </div>

    </div>

    <div id="mapPage">

        <div id="mapid"></div>

    </div>
    <!-- total height on page two -->
    <div class="height" style="height:50px"></div>

    <div id="productPage">
        <div class="container text-center" style="border:2px solid black;">
            <h1>
                <u> Products We sell</u>
            </h1>
            <div class="rows">
                <div class="col-md-3" style="border:2px solid black; margin:40px;">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, eaque natus! Esse dolor tempore reprehenderit
                        adipisci quia incidunt magnam, magni suscipit! Excepturi nostrum est fuga distinctio ullam aliquam?
                        Molestiae, cumque!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda libero animi vel eligendi consequatur,
                        quidem odio excepturi delectus eum. Corporis harum autem adipisci iste! Cupiditate inventore sapiente
                        pariatur illum est!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste hic dolor fugiat perferendis. Incidunt,
                        qui vero ipsa, impedit, nulla maiores ducimus suscipit fugit molestiae sequi sed consequatur. Dolores,
                        suscipit!
                    </p>
                </div>
                <div class="col-md-3" style="border:2px solid black; margin:40px;">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, eaque natus! Esse dolor tempore reprehenderit
                        adipisci quia incidunt magnam, magni suscipit! Excepturi nostrum est fuga distinctio ullam aliquam?
                        Molestiae, cumque!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda libero animi vel eligendi consequatur,
                        quidem odio excepturi delectus eum. Corporis harum autem adipisci iste! Cupiditate inventore sapiente
                        pariatur illum est!</p>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste hic dolor fugiat perferendis. Incidunt,
                        qui vero ipsa, impedit, nulla maiores ducimus suscipit fugit molestiae sequi sed consequatur. Dolores,
                        suscipit!
                    </p>
                </div>
                <div class="col-md-3" style="border:2px solid black;margin:40px;">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, eaque natus! Esse dolor tempore reprehenderit
                        adipisci quia incidunt magnam, magni suscipit! Excepturi nostrum est fuga distinctio ullam aliquam?
                        Molestiae, cumque!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda libero animi vel eligendi consequatur,
                        quidem odio excepturi delectus eum. Corporis harum autem adipisci iste! Cupiditate inventore sapiente
                        pariatur illum est!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste hic dolor fugiat perferendis. Incidunt,
                        qui vero ipsa, impedit, nulla maiores ducimus suscipit fugit molestiae sequi sed consequatur. Dolores,
                        suscipit!
                    </p>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script>
        d3.json('/data/location', function (data) {
            var data = data;
            console.log(data[0]['locations']['LocationOne'])
            var distance_One = data[0]['locations']['LocationOne']['distance_in_meters'][0]
            var address_One = data[0]['locations']['LocationOne']['address'][0]
            var city_One = data[0]['locations']['LocationOne']['city'][0]
            var name_One = data[0]['locations']['LocationOne']['name'][0]
            var storeID_One = data[0]['locations']['LocationOne']['store_no'][0]
            var phone_One = data[0]['locations']['LocationOne']['phone'][0]


            document.getElementById('nameOne').innerHTML = "Store Name:" + " " + String(name_One);
            document.getElementById('cityOne').innerHTML = "City:" + " " + String(city_One);
            document.getElementById('storeIDOne').innerHTML = "Store Number:" + " " + String(storeID_One);
            document.getElementById('cityOne').innerHTML = "City:" + " " + String(city_One);
            document.getElementById('addressOne').innerHTML = "Address:" + " " + String(address_One);
            document.getElementById('distanceOne').innerHTML = "Distance:" + " " + String(Math.round(
                    distance_One / 1609)) + " " +
                "miles away";
            document.getElementById('phoneOne').innerHTML = "Phone:" + " " + String(phone_One);



            var distance_Two = data[0]['locations']['LocationTwo']['distance_in_meters'][0]
            var address_Two = data[0]['locations']['LocationTwo']['address'][0]
            var city_Two = data[0]['locations']['LocationTwo']['city'][0]
            var name_Two = data[0]['locations']['LocationTwo']['name'][0]
            var storeID_Two = data[0]['locations']['LocationTwo']['store_no'][0]
            var phone_Two = data[0]['locations']['LocationTwo']['phone'][0]

            document.getElementById('nameTwo').innerHTML = "Store Name:" + " " + String(name_Two);
            document.getElementById('cityTwo').innerHTML = "City:" + " " + String(city_Two);
            document.getElementById('storeIDTwo').innerHTML = "Store Number:" + " " + String(storeID_Two);
            document.getElementById('cityTwo').innerHTML = "City:" + " " + String(city_Two);
            document.getElementById('addressTwo').innerHTML = "Address:" + " " + String(address_Two);
            document.getElementById('distanceTwo').innerHTML = "Distance:" + " " + String(Math.round(
                distance_Two / 1609)) + " " + "miles away";
            document.getElementById('phoneTwo').innerHTML = "Phone:" + " " + String(phone_Two);


            var distance_Three = data[0]['locations']['LocationThree']['distance_in_meters'][0]
            var address_Three = data[0]['locations']['LocationThree']['address'][0]
            var city_Three = data[0]['locations']['LocationThree']['city'][0]
            var name_Three = data[0]['locations']['LocationThree']['name'][0]
            var storeID_Three = data[0]['locations']['LocationThree']['store_no'][0]
            var phone_Three = data[0]['locations']['LocationThree']['phone'][0]


            document.getElementById('nameThree').innerHTML = "Store Name:" + " " + String(name_Three);
            document.getElementById('cityThree').innerHTML = "City:" + " " + String(city_Three);
            document.getElementById('storeIDThree').innerHTML = "Store Number:" + " " + String(storeID_Three);
            document.getElementById('cityThree').innerHTML = "City:" + " " + String(city_Three);
            document.getElementById('addressThree').innerHTML = "Address:" + " " + String(address_Three);
            document.getElementById('distanceThree').innerHTML = "Distance:" + " " + String(Math.round(
                distance_Three / 1609)) + " " + "miles away";
            document.getElementById('phoneThree').innerHTML = "Phone:" + " " + String(phone_Three);

 
 
        });


    </script>


    <script>

         // map using leaflet

        // Creating map object
        var myMap = L.map("mapid", {
            center: [51.2538, -85.3232],
            zoom: 5
        });
        // Adding tile layer
        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets-satellite',
            accessToken: 'pk.eyJ1IjoiYmx0eHI5IiwiYSI6ImNqZGhqeXhtOTB6ZDAzMm8xamo5cHRmb3cifQ.lUfEpXhv5BlcfZ2c2gVLtQ'
        }).addTo(myMap);


        var location_one = L.marker([51.2323, -79.90909]).addTo(myMap),
            location_two = L.marker([51.2323, -72.90909]).addTo(myMap),
            location_three = L.marker([51.2323, -74.90909]).addTo(myMap);


            location_one.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup(),
            location_two.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup(),
            location_three.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
            
                    


      



    </script>









</body>

</html>